@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

.html {
  height: 100%; }

body {
  min-height: 100%;
  background-color: #1b141a; }

.header__container {
  position: relative;
  background-color: #232323;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%; }
  .header__container nav {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__container nav .header__logo {
      font-size: large;
      padding: 1rem;
      margin-left: 0.313rem;
      font-family: "Monserrat", sans-serif;
      color: #fff;
      letter-spacing: 2px; }
      .header__container nav .header__logo a {
        text-decoration: none;
        color: #fff; }
        .header__container nav .header__logo a:hover {
          color: #0066cc; }
    .header__container nav .header_menu {
      position: relative;
      min-height: 3rem; }
      .header__container nav .header_menu input[type="checkbox"] {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
        width: 3rem;
        height: 3rem; }
      .header__container nav .header_menu label {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        z-index: 5; }
        .header__container nav .header_menu label .fa-bars {
          font-size: 3rem;
          color: #ee1eb5;
          display: none; }
      .header__container nav .header_menu input[type="checkbox"] {
        opacity: 0;
        display: block;
        z-index: 10; }
      .header__container nav .header_menu .header__items {
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .header__container nav .header_menu .header__items li {
          padding: 0.625rem;
          margin: 0.25rem; }
          .header__container nav .header_menu .header__items li a {
            display: block;
            color: #FF0072;
            font-family: "Roboto", sans-serif;
            text-decoration: none;
            padding: 0 1rem;
            position: relative; }
            .header__container nav .header_menu .header__items li a::after {
              content: "";
              position: absolute;
              background-color: #FF0072;
              height: 0.188rem;
              width: 0;
              left: 0;
              bottom: -10px;
              transition: 0.3s; }
            .header__container nav .header_menu .header__items li a:hover {
              color: #fff; }
            .header__container nav .header_menu .header__items li a:hover:after {
              width: 100%; }

.main {
  max-height: 100%; }
  .main .img__section {
    width: 100%;
    height: 60vh;
    padding-bottom: 1rem;
    position: relative; }
    .main .img__section .img {
      width: 100%;
      height: 60vh;
      background-image: url(/img/1pag/bandera_montañas.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
      .main .img__section .img span {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50; }
        .main .img__section .img span h1 {
          border-radius: 15px;
          height: 9.375rem;
          width: 43.75rem;
          background-color: #ffd60a;
          box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
          letter-spacing: 5px;
          color: #232323;
          font-weight: bold;
          font-size: 2.5em;
          text-align: center;
          padding-top: 2rem;
          margin: 1rem;
          font-family: "Roboto", sans-serif; }
  .main .section_arg {
    margin-top: 60px;
    background-color: #080c14;
    width: 100%;
    height: 500px; }
    .main .section_arg h2 {
      margin-left: 7rem;
      font-family: "Lato", sans-serif;
      color: #FF0072; }
    .main .section_arg .arg_txt {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;
      letter-spacing: 1px;
      padding: 0 1rem; }
      .main .section_arg .arg_txt p {
        width: 60%;
        font-family: "Roboto", sans-serif;
        color: #fff; }
      .main .section_arg .arg_txt .arg_img {
        width: 12.5rem;
        height: 12.5rem; }
        .main .section_arg .arg_txt .arg_img .arg_m10 {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .main .section_arg .arg_reverse {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; }
      .main .section_arg .arg_reverse p {
        margin: 0.5rem; }
  .main .mytitle {
    background-color: #0066cc;
    width: 30%;
    margin: 13px auto;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding: 1rem;
    border-radius: 7px; }
  .main .section__contenedora {
    margin: 1rem auto;
    padding: 1rem;
    width: 70%;
    max-height: 43.75rem;
    position: relative;
    background-color: #232323; }
    .main .section__contenedora .section_mycontainer .mycontainer_img {
      display: flex;
      background-color: #232323;
      width: 100%;
      max-height: 15.625rem; }
      .main .section__contenedora .section_mycontainer .mycontainer_img .myimg {
        height: 14.375rem;
        max-height: 18.75rem;
        margin: 0.5rem; }
        .main .section__contenedora .section_mycontainer .mycontainer_img .myimg img {
          width: 100%;
          height: 100%;
          border-radius: 10px; }
    .main .section__contenedora .section_mycontainer .container1 {
      display: flex;
      background-color: #232323; }
      .main .section__contenedora .section_mycontainer .container1 .mycontainer_texto {
        width: 100%;
        background-color: #232323;
        color: #fff; }
        .main .section__contenedora .section_mycontainer .container1 .mycontainer_texto h2 {
          font-family: "Lato",sans-serif;
          padding: 0.5rem;
          color: #ee1eb5; }
        .main .section__contenedora .section_mycontainer .container1 .mycontainer_texto h3 {
          font-family: "Lato",sans-serif;
          padding: 0.5rem; }
        .main .section__contenedora .section_mycontainer .container1 .mycontainer_texto p {
          font-family: "Roboto", sans-serif;
          padding: 0.5rem; }
      .main .section__contenedora .section_mycontainer .container1 .mycontainer_info {
        background-color: #232323;
        display: flex;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1px;
        width: 100%;
        height: 50%; }
        .main .section__contenedora .section_mycontainer .container1 .mycontainer_info .button__info {
          border-radius: 1.563rem;
          margin: 1rem;
          text-align: center;
          display: block;
          background-color: #ffd60a;
          width: 50%;
          padding: 0.4rem;
          transition: 0.2ms ease-in; }
          .main .section__contenedora .section_mycontainer .container1 .mycontainer_info .button__info a {
            color: #080c14;
            font-weight: 400; }
          .main .section__contenedora .section_mycontainer .container1 .mycontainer_info .button__info:hover {
            background: #94993d;
            background: linear-gradient(90deg, #94993d 9%, #fcff00 63%);
            text-decoration: underline; }
    .main .section__contenedora .section_mycontainer .button_final {
      width: 30%;
      height: 4rem;
      position: absolute;
      right: 5rem;
      bottom: 2.5rem; }
      .main .section__contenedora .section_mycontainer .button_final .button__masinf {
        font-family: "Roboto", sans-serif;
        letter-spacing: 2px;
        display: block;
        background-color: #ef027d;
        padding: 1rem;
        margin: 0.3rem;
        border-radius: 15px;
        text-align: center; }
        .main .section__contenedora .section_mycontainer .button_final .button__masinf:hover {
          color: #fff;
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(1.1);
          background: #9a2d98;
          background: linear-gradient(90deg, #9a2d98 9%, #ed09d4 63%); }
  .main .section_box {
    width: 100%;
    background-color: #080c14; }
    .main .section_box h2 {
      font-weight: 100;
      padding: 1rem;
      font-family: "Lato", sans-serif;
      color: #fff; }
    .main .section_box h3 {
      font-weight: 50;
      padding: 1rem;
      font-family: "Lato", sans-serif;
      color: #fff; }
      .main .section_box h3:hover {
        text-decoration: underline #0066cc; }
    .main .section_box .boximg_flex {
      display: flex;
      justify-content: center;
      padding: 1rem 0; }
      .main .section_box .boximg_flex .section_boximg {
        width: 30%;
        padding: 1rem;
        box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -4px 5px 5px 0px rgba(0, 0, 0, 0.75); }
        .main .section_box .boximg_flex .section_boximg .img_prl {
          width: 15.625rem;
          height: 15.625rem;
          position: relative; }
          .main .section_box .boximg_flex .section_boximg .img_prl span {
            color: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
            font-style: italic; }
          .main .section_box .boximg_flex .section_boximg .img_prl img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0 auto; }
        .main .section_box .boximg_flex .section_boximg .text_boximg {
          color: #fff;
          margin: 0.5rem;
          padding-top: 1.5rem; }
          .main .section_box .boximg_flex .section_boximg .text_boximg h4 {
            font-family: "Lato", sans-serif;
            margin: 0.5rem 0;
            color: #FF0072; }
          .main .section_box .boximg_flex .section_boximg .text_boximg p {
            font-family: "Roboto", sans-serif;
            font-weight: 100; }
    .main .section_box .botonmas {
      background-color: #080c14;
      display: flex;
      justify-content: center; }
      .main .section_box .botonmas p {
        color: #0066cc;
        font-family: "Roboto", sans-serif;
        padding: 0.5rem; }
      .main .section_box .botonmas .mybutton2 {
        margin: 1rem;
        width: 20%;
        font-family: Roboto, sans-serif;
        font-weight: 0;
        font-size: 0.875em;
        color: #232323;
        background-color: #ee1eb5;
        padding: 0.625rem 1.875rem;
        border: solid #080c14 2px;
        box-shadow: black 0px 0px 0px 0px;
        border-radius: 50px;
        transition: 332ms;
        transform: translateY(0);
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer; }
        .main .section_box .botonmas .mybutton2 a {
          color: #080c14;
          font-weight: bold;
          margin: 0 auto; }
        .main .section_box .botonmas .mybutton2:hover {
          transition: 332ms;
          padding: 0.625rem 1.25rem;
          transform: translateY(0px);
          background-color: #FF0072;
          color: #232323;
          border: solid 2px #FF0072; }

.main .navbar_secondary {
  height: 2.2rem;
  width: 20rem; }
  .main .navbar_secondary ul {
    display: flex;
    margin: 0.625rem; }
    .main .navbar_secondary ul p {
      font-family: "Roboto", sans-serif;
      color: #ef027d;
      padding: 0.5rem; }
    .main .navbar_secondary ul li .icon_img {
      margin: 0.2rem; }
      .main .navbar_secondary ul li .icon_img img {
        width: 2rem; }

.main .section_gastronomia {
  display: flex;
  width: 100%;
  padding: 1rem; }
  .main .section_gastronomia .gastronomia h1 {
    font-family: "Lato", sans-serif;
    font-size: 3.125rem;
    color: #0066cc; }
  .main .section_gastronomia .gastronomia p {
    padding: 1rem 0;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    color: #fff; }
  .main .section_gastronomia .gastronomia .gastronomia_img {
    margin: 1rem auto;
    height: 18.75rem;
    width: 18.75rem; }
    .main .section_gastronomia .gastronomia .gastronomia_img img {
      width: 100%; }
  .main .section_gastronomia .aside {
    height: 20%;
    padding: 0.5rem;
    background-color: #080c14; }
    .main .section_gastronomia .aside h3 {
      text-align: center;
      font-family: "Roboto", sans-serif;
      color: #FF0072; }
    .main .section_gastronomia .aside .box_random .box_box {
      margin: 0.938rem;
      height: 12.5rem;
      width: 12.5rem;
      transition: .4s;
      position: relative; }
      .main .section_gastronomia .aside .box_random .box_box a img {
        z-index: 9;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px; }
      .main .section_gastronomia .aside .box_random .box_box .box_box--txt {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 4rem 1rem;
        font-family: "Monserrat", sans-serif;
        color: #fff;
        width: 100%;
        height: 3.125rem;
        background: rgba(0, 0, 0, 0.5);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px; }

.main .title__span {
  margin: 1rem; }
  .main .title__span h2 {
    font-family: "Lato", sans-serif;
    color: #0066cc; }

.main .box_comida {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .main .box_comida .section_comida {
    padding: 0.5rem;
    background-color: #0066cc;
    margin: 1rem;
    width: 18.75rem; }
    .main .box_comida .section_comida h2 {
      font-family: "Lato", sans-serif;
      padding: 0.3rem;
      font-weight: 100;
      color: #fff;
      letter-spacing: 3px; }
    .main .box_comida .section_comida p {
      padding: 0.5rem;
      font-family: "Roboto", sans-serif;
      text-align: center; }
    .main .box_comida .section_comida .img__comida {
      margin: 0 auto;
      width: 17.5rem;
      height: 12.5rem; }
      .main .box_comida .section_comida .img__comida img {
        width: 100%;
        height: 100%;
        border-radius: 7px; }
    .main .box_comida .section_comida .mas {
      font-size: 1.625rem;
      text-align: center; }
      .main .box_comida .section_comida .mas .saber_mas {
        font-family: "Roboto", sans-serif;
        color: #fff; }
        .main .box_comida .section_comida .mas .saber_mas:hover {
          color: #FF0072; }

.main .img_norte {
  width: 100%;
  height: 100vh;
  background-image: url(/img/noroeste_argentina/norte-imagen.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .main .img_norte span {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
  .main .img_norte .main__text {
    position: absolute;
    left: 15%;
    top: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 85vh;
    width: 18.75rem;
    letter-spacing: 3px;
    color: #fff;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif; }

.main .main__img {
  width: 100%;
  height: 100vh;
  background-image: url(/img/2pag/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  .main .main__img span {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }
  .main .main__img .main__text {
    position: absolute;
    left: 15%;
    top: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 85vh;
    width: 18.75rem;
    letter-spacing: 3px;
    color: #fff;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif; }

.main .grid__box h1 {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 1rem;
  color: #0066cc; }

.main .grid__box .grid_redes {
  margin-right: 4rem;
  text-align: end;
  color: #fff; }
  .main .grid__box .grid_redes span img {
    width: 2rem; }

.main .grid__box .section__provincias {
  background-color: #232323;
  margin: 2rem;
  display: flex;
  justify-content: space-around; }
  .main .grid__box .section__provincias .section_myimg {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .main .grid__box .section__provincias .section_myimg .tamaño {
      height: 18.75rem;
      width: 18.75rem;
      margin: 5px; }
      .main .grid__box .section__provincias .section_myimg .tamaño .img_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-box-shadow: 14px -8px 34px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 14px -8px 34px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 14px -8px 34px -6px rgba(0, 0, 0, 0.75);
        transition: all 300ms; }
        .main .grid__box .section__provincias .section_myimg .tamaño .img_img:hover {
          transform: scale(1.1);
          cursor: pointer; }
  .main .grid__box .section__provincias .section_txt {
    padding: 1rem;
    margin: 0 auto; }
    .main .grid__box .section__provincias .section_txt h2 {
      color: #fff;
      font-family: "Lato", sans-serif;
      text-align: center;
      padding: 1rem;
      border-bottom: 1px solid #ee1eb5; }
    .main .grid__box .section__provincias .section_txt p {
      font-family: "Roboto", sans-serif;
      text-align: justify;
      padding: 1.5rem;
      color: #fff; }
    .main .grid__box .section__provincias .section_txt .section_myicons {
      display: flex;
      justify-content: space-around; }
      .main .grid__box .section__provincias .section_txt .section_myicons .icons_radius {
        font-family: "Roboto", sans-serif;
        background-color: #ef027d;
        text-transform: uppercase;
        padding: 1rem;
        border-radius: 7px;
        transition: 0.5s;
        font-weight: bold; }
        .main .grid__box .section__provincias .section_txt .section_myicons .icons_radius:hover {
          background-color: #0066cc;
          letter-spacing: 2px; }

.main .grid__box .section__info {
  max-width: 100%;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .main .grid__box .section__info .box_info {
    margin: 1rem;
    background-color: #232323;
    width: 25rem;
    height: 31.25rem;
    border-radius: 7px; }
    .main .grid__box .section__info .box_info h2 {
      color: #fff;
      text-align: center;
      padding: 1rem;
      font-family: "Lato", sans-serif; }
    .main .grid__box .section__info .box_info p {
      font-family: "Roboto", sans-serif;
      height: 6.25rem;
      padding: 0.1rem;
      color: #fff; }
    .main .grid__box .section__info .box_info .box_info:hover {
      border: 3px solid #0066cc; }
    .main .grid__box .section__info .box_info .box_img {
      width: 99%;
      height: 10rem;
      margin: 0.625rem auto;
      border-radius: 7px; }
      .main .grid__box .section__info .box_info .box_img .img_lugar {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
    .main .grid__box .section__info .box_info .underline {
      color: #ef027d;
      margin: 1rem;
      font-family: "Lato", sans-serif; }
      .main .grid__box .section__info .box_info .underline:hover {
        text-decoration: underline; }
    .main .grid__box .section__info .box_info .box_icon--info {
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      margin-top: 0.625rem; }
      .main .grid__box .section__info .box_info .box_icon--info .masinfo {
        font-family: "Roboto", sans-serif;
        text-align: center;
        background-color: #ffd60a;
        width: 30%;
        height: 10%;
        border-radius: 7px;
        padding: 0.5rem; }
        .main .grid__box .section__info .box_info .box_icon--info .masinfo:hover {
          transition: 0.2ms;
          background-color: #0066cc; }
      .main .grid__box .section__info .box_info .box_icon--info .social p {
        height: 60%;
        color: #0066cc; }
      .main .grid__box .section__info .box_info .box_icon--info .social span {
        margin: 0.3rem; }
        .main .grid__box .section__info .box_info .box_icon--info .social span .img_social {
          width: 2rem;
          transition: all 300ms; }
          .main .grid__box .section__info .box_info .box_icon--info .social span .img_social:hover {
            transform: scale(1.1); }

.main__footer {
  background-color: #232323;
  width: 100%; }
  .main__footer .container_flex {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .main__footer .container_flex .input_info {
      color: #ef027d;
      padding: 1rem;
      font-family: "Lato", sans-serif; }
      .main__footer .container_flex .input_info:hover {
        color: #0066cc; }
    .main__footer .container_flex .input {
      margin-top: 0.625rem;
      background-color: #080c14;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      width: 25%;
      text-align: center;
      margin: .25rem;
      align-items: center; }
    .main__footer .container_flex .input_info {
      color: #ef027d;
      font-family: "Lato", sans-serif; }
      .main__footer .container_flex .input_info:hover {
        color: #0066cc; }
    .main__footer .container_flex input {
      margin: 1.5rem;
      color: #fff;
      width: 9.375rem;
      background-color: #232323;
      outline: none;
      border: #fff;
      border-bottom: 1px solid #ef027d;
      padding: 0.5rem; }
      .main__footer .container_flex input:focus {
        border-bottom: 2px solid #0066cc; }
    .main__footer .container_flex label {
      font-family: "Roboto", sans-serif;
      color: #fff;
      margin: 0.75rem; }
    .main__footer .container_flex textarea {
      resize: none;
      height: 4.375rem;
      background-color: #232323;
      outline: none; }
    .main__footer .container_flex .btn {
      margin-top: 1rem;
      font-family: "Roboto", sans-serif;
      font-weight: 0;
      font-size: 0.875rem;
      color: #fff;
      background-color: #0066cc;
      padding: .625rem 1.875rem;
      border: 2px solid #0066cc;
      box-shadow: black 0px 0px 0px 0px;
      border-radius: 50px;
      transition: 1000ms;
      transform: translateY(0);
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer; }
      .main__footer .container_flex .btn:hover {
        transition: 1000ms;
        padding: .625rem 3.125rem;
        transform: translateY(0px);
        background-color: #fff;
        color: #ee1eb5;
        border: 2px solid #ef027d; }
  .main__footer .input_list {
    text-align: center;
    padding: 1rem;
    margin-left: 2rem; }
    .main__footer .input_list li {
      display: flex;
      align-items: center;
      font-family: "Roboto", sans-serif; }
      .main__footer .input_list li .list_icon {
        margin: 2px;
        align-items: center; }
      .main__footer .input_list li a {
        color: #fff; }
        .main__footer .input_list li a:hover {
          color: #0066cc; }
  .main__footer .myicon-icon {
    height: 6.25rem;
    display: flex;
    justify-content: center; }
    .main__footer .myicon-icon .iconicon {
      margin: 0 0.5rem; }

.section_buscador .section__buscador--img {
  background-image: url(/img/pag_paisajes/brujula_search.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 25rem;
  position: relative; }
  .section_buscador .section__buscador--img form p {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section_buscador .section__buscador--img form p span {
      font-family: "Roboto", sans-serif;
      font-size: 2rem;
      font-weight: bold;
      color: #fff;
      letter-spacing: 3px;
      -webkit-animation: flicker-in-1 2s linear both;
      animation: flicker-in-1 2s linear both; }

@-webkit-keyframes flicker-in-1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes flicker-in-1 {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  10.1% {
    opacity: 1; }
  10.2% {
    opacity: 0; }
  20% {
    opacity: 0; }
  20.1% {
    opacity: 1; }
  20.6% {
    opacity: 0; }
  30% {
    opacity: 0; }
  30.1% {
    opacity: 1; }
  30.5% {
    opacity: 1; }
  30.6% {
    opacity: 0; }
  45% {
    opacity: 0; }
  45.1% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 1; }
  55.1% {
    opacity: 0; }
  57% {
    opacity: 0; }
  57.1% {
    opacity: 1; }
  60% {
    opacity: 1; }
  60.1% {
    opacity: 0; }
  65% {
    opacity: 0; }
  65.1% {
    opacity: 1; }
  75% {
    opacity: 1; }
  75.1% {
    opacity: 0; }
  77% {
    opacity: 0; }
  77.1% {
    opacity: 1; }
  85% {
    opacity: 1; }
  85.1% {
    opacity: 0; }
  86% {
    opacity: 0; }
  86.1% {
    opacity: 1; }
  100% {
    opacity: 1; } }
    .section_buscador .section__buscador--img form p .input_search {
      width: 70%;
      height: 3rem;
      padding: 1rem;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 1rem 0;
      outline: none;
      border: none; }
      .section_buscador .section__buscador--img form p .input_search::placeholder {
        color: #0066cc; }

.main .mygallery .section__title h2 {
  font-size: 2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 2rem;
  color: #fff; }

.main .mygallery .gallery__grid {
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 1rem;
  padding: 2rem;
  grid-auto-flow: dense;
  z-index: 33; }
  .main .mygallery .gallery__grid .gallery__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out; }
    .main .mygallery .gallery__grid .gallery__item:hover {
      filter: opacity(0.9);
      transform: scale(1.04); }
  .main .mygallery .gallery__grid .item_1 {
    background-image: url(/img/pag_paisajes/adriana-lorena-benavides-estrada-afyJnOzcCm4-unsplash.jpg);
    grid-row: span 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_2 {
    background-image: url(/img/pag_paisajes/diogo-hungria-yjRNoycsKj4-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_3 {
    background-image: url(/img/pag_paisajes/D-faro-les-eclaireurs.jpg);
    grid-column: span 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_4 {
    background-image: url(/img/pag_paisajes/obelisco_.png);
    grid-row: span 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_5 {
    background-image: url(/img/pag_paisajes/snowscat-H3oXiq7_bII-unsplash.jpg);
    grid-column: span 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_6 {
    background-image: url(/img/pag_paisajes/Puma-Tierra-Patagonia-1-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_7 {
    background-image: url(/img/pag_paisajes/glaciar-gc70fe784e_1280.jpg);
    grid-column: span 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_8 {
    background-image: url(/img/pag_paisajes/foz-do-iguacu-gc16eec70b_640.jpg);
    grid-column: span 2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
  .main .mygallery .gallery__grid .item_9 {
    background-image: url(/img/pag_paisajes/lighthouse-g7f889a550_1280.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }

.main .flecha .flecha_flex ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0; }
  .main .flecha .flecha_flex ul a {
    color: #232323;
    font-weight: 700;
    font-size: x-large;
    display: block;
    border-radius: 5px;
    margin: 1rem;
    padding: 0.5rem;
    background-color: #ef027d; }
  .main .flecha .flecha_flex ul .icon__arrow {
    width: 1.875rem; }

@media screen and (max-width: 1287px) {
  .main .navbar_secondary {
    margin-top: 5rem;
    margin-bottom: 0; }
  .main .section_mycontainer .mycontainer_img .myimg img {
    object-fit: cover; }
  .main .section_mycontainer .mycontainer_info .button__info {
    margin: 0.1rem; } }

@media screen and (max-width: 1038px) {
  .main .section_mycontainer .mycontainer_info .button__info {
    padding: 0.188rem; } }

@media screen and (max-width: 904px) {
  .main .section_box .section_boximg .img_prl {
    max-width: 12.5rem;
    max-height: 12.5rem; }
    .main .section_box .section_boximg .img_prl img {
      width: 100%;
      height: 100%; } }

@media screen and (max-width: 882px) {
  .main .img__section .img span {
    margin: 0; }
    .main .img__section .img span h1 {
      height: 7.375rem;
      width: 29.75rem; }
  .main .section_mycontainer .mycontainer_info .button__info {
    padding: 0.6rem 0;
    height: 1.875rem;
    font-size: 0.875rem; } }

@media screen and (max-width: 753px) {
  .main .section__contenedora {
    position: relative;
    min-height: 43.75rem;
    padding: 0; }
    .main .section__contenedora .section_mycontainer .mycontainer_texto {
      position: absolute;
      left: 0;
      bottom: 14%; }
    .main .section__contenedora .section_mycontainer .mycontainer_info {
      display: flex;
      justify-content: space-around;
      padding: 0.3rem; }
    .main .section__contenedora .section_mycontainer .button__final {
      position: absolute;
      bottom: 0;
      left: 20%;
      width: 60%; }
  .main .section_box .boximg_flex {
    display: flex;
    flex-direction: column; }
    .main .section_box .boximg_flex .section_boximg {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .main .section_box .boximg_flex .section_boximg .text_boximg {
        width: 50%; } }

@media screen and (max-width: 721px) {
  .header__container .header__logo a {
    position: absolute;
    top: 0; }
  .header__container nav .header_menu {
    height: 50%; }
    .header__container nav .header_menu .header__items {
      display: none;
      height: 40%; }
    .header__container nav .header_menu #menu:checked ~ .header__items {
      display: block; }
    .header__container nav .header_menu label .fa-bars {
      display: block; }
  .main .section__provincias .section_myimg {
    display: flex;
    flex-direction: column; }
    .main .section__provincias .section_myimg .img1, .main .section__provincias .section_myimg .img2 {
      margin: 1.25rem; }
  .main .section__img .img_title {
    padding-top: 0; }
  .main__footer {
    max-width: 100%; }
  .main .mygallery .gallery__grid .item_3 {
    grid-row: span 2; }
  .main__footer .input {
    font-size: 0.938em;
    height: 20%;
    padding: 0; }
  .main__footer .input_list {
    font-size: 0.938em; }
    .main__footer .input_list img {
      width: 0.938rem; } }

@media screen and (max-width: 630px) {
  .main .mytitle {
    margin-bottom: 6rem;
    width: 50%; }
  .main .section__contenedora {
    width: 100%;
    box-shadow: none;
    height: 50rem; }
  .main__footer .container_flex {
    display: flex;
    margin: 1rem auto; }
    .main__footer .container_flex .input {
      width: 50%;
      height: 30%;
      margin-left: 2.25rem; }
    .main__footer .container_flex .input_list {
      margin: 0; } }

@media screen and (max-width: 600px) {
  .main .section_gastronomia {
    display: flex;
    flex-direction: column; }
  .main .aside {
    display: flex;
    flex-direction: column; }
    .main .aside .box_random {
      display: flex;
      flex-direction: row; }
  .main .section__provincias .section_myicons {
    display: flex;
    flex-direction: column; }
    .main .section__provincias .section_myicons .icons_radius {
      margin: 0.5rem; } }

@media screen and (max-width: 551px) {
  .main .img__section .img span {
    margin: 0; }
    .main .img__section .img span h1 {
      height: 5.375rem;
      width: 24.75rem;
      font-size: 1.938em; }
  .main .section_arg {
    height: 37.5rem; }
    .main .section_arg .arg_txt .arg_img .arg_m10 {
      width: 100%;
      height: 100%; }
  .main .section__img .img_title {
    font-size: 2em; }
  .main .section__contenedora {
    height: 56.25rem; } }

@media screen and (max-width: 524px) {
  .main .grid__box .section__provincias {
    display: flex;
    flex-direction: column-reverse; } }

@media screen and (max-width: 510px) {
  .main .img__section .img span h1 {
    display: inline;
    padding: 0.938rem 1.25rem;
    width: 20%; }
  .main .mytitle {
    margin-bottom: 2rem;
    width: 99%; } }

@media screen and (max-width: 481px) {
  .main .section_arg {
    height: 50rem; } }

@media screen and (max-width: 447px) {
  .main .section_mycontainer {
    height: 56.25rem; }
  .main__footer .container_flex {
    display: flex;
    flex-direction: column-reverse; }
    .main__footer .container_flex .input {
      width: 100%;
      margin: 0;
      border-radius: none; } }

@media screen and (max-width: 420px) {
  .main .section__info .box_info {
    min-height: 32rem; }
    .main .section__info .box_info .masinfo {
      margin: 45px 0 0 0; }
    .main .section__info .box_info .social {
      margin: 35px 0 0 0; }
  .main .section_arg {
    height: 800px; }
    .main .section_arg .arg_txt2 {
      display: flex;
      flex-direction: column; }
      .main .section_arg .arg_txt2 p {
        width: 100%; }
    .main .section_arg .arg_reverse {
      display: flex;
      flex-direction: row; }
  .main .section_box .boximg_flex .section_boximg {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .main .section_box .boximg_flex .section_boximg .img_prl {
      min-width: 100%; }
      .main .section_box .boximg_flex .section_boximg .img_prl img {
        width: 100%;
        height: 100%; }
    .main .section_box .boximg_flex .section_boximg .text_boximg {
      width: 100%; }
  .main .section_box .botonmas {
    display: flex;
    flex-direction: column; }
    .main .section_box .botonmas .mybutton2 {
      width: 45%; }
  .main .aside {
    height: 200px; }
    .main .aside h3 {
      font-weight: 100;
      font-size: 18px; }
    .main .aside .box_random {
      display: flex;
      flex-direction: column; }
  .main .box_comida {
    display: flex;
    justify-content: center; }
  .main .main__img .main__text {
    left: 0; }
  .section__buscador--img p span {
    font-size: 1.5rem; }
  .main__footer .container_flex {
    display: flex; }
    .main__footer .container_flex .input_list {
      font-size: 0.875rem; }
      .main__footer .container_flex .input_list li a {
        font-size: 0.813rem; }
    .main__footer .container_flex input {
      width: 15.625rem; }
    .main__footer .container_flex textarea {
      width: 15.625rem; } }

@media screen and (max-width: 387px) {
  .main .section_arg {
    height: 900px; } }

@media screen and (max-widht: 360px) {
  .main .section__img {
    margin-top: 1.8rem; }
    .main .section__img .img_relative {
      max-width: 20rem;
      max-height: 12.5rem; }
  .main .mytitle {
    width: 100%; } }

@media screen and (max-width: 320px) {
  .main .main__img {
    object-fit: cover; }
    .main .main__img .main__text {
      height: 70%;
      left: 0;
      font-size: 16px; } }
