@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #1b141a;
}


/* index.html */
.header__container .checkbox_menu {
  position: absolute;
  right: 1%;
  top: 36%;
  transform: scale(1.5);
  display: none;
}

.bars_icon img{
    width: 2rem;
    position: absolute;
    right: 10%;
    bottom: 18%;
    display: none;
}
.header__container{
    position: relative;
    background-color: #232323;
    position: sticky;
    top: 0;
    left: 0; 
    z-index: 100;
    width: 100%;
}

.header__container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: large;
    padding: 1rem;
    margin-left: 0.313rem;
    font-family: "Monserrat",sans-serif;
    color: #fff;
    letter-spacing: 2px;
}

.header__logo a{
    text-decoration: none;
    color: #fff;
}
.header__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__items li {
    padding: 0.625rem;
    margin: 0.25rem;
}

.header__items li a{
    display: block;
    color: #FF0072;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0 1rem;
    position: relative;
}
.header__items li a::after{
    content: "";
    position: absolute;
    background-color: #FF0072;
    height: 0.188rem;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.header__items li a:hover{
    color: #fff;
}
.header__items li a:hover:after{
    width: 100%;
}


.img__section{
    width: 100%;
    height: 60vh;
    padding-bottom: 1rem;
    position: relative;
   
}
.img__section span{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.img__section span h1{
    min-height: 9.375rem;
    min-width: 43.75rem;
    background-color: #ffd60a;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    letter-spacing: 3px;
    color:#232323;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-top: 3rem;
    margin: 1rem;
    font-family: "Roboto",sans-serif;
}

.img__section .img{
    width: 100%;
    height: 60vh;
    background-image: url(/img/1pag/bandera_montañas.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}


.section__img{
  display: flex;
 /* position: relative; */

}
.img_1 {
  background-image: url(../img/1pag/Untitled.png);
  height: 50vh;
  background-position: center;
  border-radius: 7px;
  background-size: cover;
  margin: 1rem;
}



.img_2 {
  background-image: url(../img/1pag/glacier-gdacef7571_1280.jpg);
  height: 50vh;
  background-position: center;
  background-size: cover;
  border-radius: 7px;
  margin: 1rem;
}
.img_relative{
  position: relative;
  height: 25rem;
  width: 25rem;
  margin: 1.875rem auto;
  border-radius: 82% 18% 83% 17% / 14% 84% 16% 86% ;
}
.img_title {
  position: absolute;
  display: block;
  height: 40%;
  width: 100%;
  text-align: center;
  top: 30%;
  font-size: 3.125rem;
  font-family: "Roboto",sans-serif;
  letter-spacing: 10px;

}
.img_title:hover {
    transition: 0.2s ease-in-out;
    color: #fff;
    background-color: rgba(219, 229, 12, 0.1);
}


.mytitle {
  background-color: #0066CC;
  width: 30%;
  margin: 13px auto;
  font-family: "Lato",sans-serif;
  text-align: center;
  padding: 1rem;
  border-radius: 7px;
}
.section__contenedora {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px -3px 5px 0px rgb(154,45,152);
  -webkit-box-shadow: 2px -3px 5px 0px rgb(154,45,152);
  -moz-box-shadow: 2px -3px 5px 0px rgb(154,45,152);
  margin: 0 auto;
  width: 70%;
  max-height: 700px;
  position: relative;
  background-color: #232323;
}
.mycontainer_img{
  display: flex;
  background-color: #232323;
  width: 100%;
  max-height: 15.625rem;
}
.mycontainer_img .myimg {
  height: 14.375rem;
  max-height: 18.75rem;
  margin: 0.5rem;
}
.myimg img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.container1 {
  display: flex;
  background-color: #232323;
}
.mycontainer_texto{
  width: 100%;
  background-color: #232323;
  color: #fff;
}
.mycontainer_texto h2 {
  font-family: "Lato",sans-serif;
  padding: 0.5rem;
  color: #ee1eb5;
  text-decoration: underline;
}
.mycontainer_texto h3 {
  font-family: "Lato",sans-serif;
  padding: 0.5rem;
}
.mycontainer_texto p {
  font-family: "Roboto",sans-serif;
  padding: 0.5rem;
}
.mycontainer_info {
  background-color: #232323;
  display: flex;
  font-family: "Roboto",sans-serif;
  letter-spacing: 1px;
  width: 100%;
  height: 50%;
}

.button__info{
  border-radius: 25px;
  margin: 1rem;
  text-align: center;
  display: block;
  background-color: #ffd60a;
  width: 50%;
  padding: 0.4rem;
  transition: 0.2ms ease-in;
}
.button__info a {
  color: #080c14;
  font-weight: 400;
}

.button__info:hover{
  background: rgb(148,153,61);
background: linear-gradient(90deg, rgba(148,153,61,1) 9%, rgba(252,255,0,1) 63%);
  text-decoration: underline;
}
.button_final {
  width: 30%;
  height: 4rem;
  position: absolute;
  right: 5rem;
  bottom: 2.5rem;
}

.button_final .button__masinf {
  font-family: "Roboto",sans-serif;
  letter-spacing: 2px;
  display: block;
  background-color: #ef027d;
  padding: 1rem;
  margin: 0.3rem;
  border-radius: 15px;
  text-align: center;
}
.button_final .button__masinf:hover {
  color: #fff;
 
}
/* responsive de la caja section_contenedora pag index */
@media screen and (max-width: 360px) {
      .section__img{
        margin-top: 1.8rem;
      }
      .section__img .img_relative {
        max-width: 320px;
        max-height: 200px;
      }
      .mytitle {
        width: 100%;
      }
}
@media screen and (max-width: 420px){
   .section__contenedora {
    max-height: 50rem;
   }
    .section__img .img_title {
      font-size: 0.625rem;
      letter-spacing: 1px;
    }
}
@media screen and(max-width: 447px) {
      .section_mycontainer{
        height: 900px;
      }
}

@media screen and (max-width: 551px){
    .section__img .img_title {
      font-size: 2rem;
    }
        .section__contenedora{
               height: 56.25rem;
                    }
     
}
@media  screen and (max-width: 630px) {
    .section__contenedora {
      width: 100%;
      box-shadow: none;
      height: 800px;
    }
    .mytitle {
      margin-bottom: 6rem;
      width: 50%;
    }
   
}

@media screen and (max-width: 753px) {
      .section__img {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
     .section__img .img_title {
    font-size: 3.125rem;
           }
        .section__contenedora {
          position: relative;
          min-height: 700px;
          padding: 0;
        }
        .mycontainer_texto {
          position: absolute;
          left: 0;
          bottom: 14%;
        }
        .button_final {
          position: absolute;
          bottom: 0;
          left: 20%;
          width: 60%;
        }
        .mycontainer_info {
          display: flex;
          justify-content: space-around;
          padding: 0.3rem;
        }
  
}

@media screen and (max-width: 882px){
      .mycontainer_info .button__info{
       width: 100px;
       margin:0 20px ;
      }
}

@media screen and (max-width: 969px) {
  .mycontainer_info .button__info {
    padding: 0.6rem 0;
    height: 1.875rem;
    font-size: 0.875rem;
  }

}

@media screen and (max-width: 1038px){
  .mycontainer_info .button__info {
    padding: 0.188rem;
  }
}  

@media screen and (max-width: 1287px) {
    .mycontainer_info .button__info {
      margin: 0.1rem;
    }
    .mycontainer_img .myimg img{
      object-fit: cover;
    }
}



/* pag gastronomia */


.navbar_secondary ul {
  position: fixed;
  right: 0;
  margin: 5% 15px;
  top: 0;
  display: flex;
  flex-direction: column;
}
.navbar_secondary .icon_img  img{
  width: 32px;
}

.section_gastronomia {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: #FF0072;
}
.section_gastronomia h1{
  font-family: "Lato",sans-serif;
  font-size: 3.125rem;
  color: #232323;
}
.section_gastronomia p{
  padding: 1rem 0;
  font-size: 20px;
  font-family: "Roboto",sans-serif;
}
.gastronomia_img {
  margin: 1rem auto; 
  background-color: purple;
  height: 300px;
  width: 300px;
}
.gastronomia_img img {
  width: 100%;
}
.box_comida {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box_comida h2 {
  font-family: "Lato",sans-serif;
  padding: 0.3rem;
}
.img__comida {
    margin: 0 auto;
    width: 280px;
    height: 200px;
}
.img__comida img{
  width: 100%;
  height: 100%;
  border-radius: 7px;
  }
.section_comida {
  padding: 0.5rem;
  background-color: #d90424;
  margin: 1rem;
  width: 300px;
}
.section_comida p {
  padding: 0.5rem;
  font-family: "Roboto",sans-serif;
  text-align: center;
}
.section_comida .mas {
  font-size: 26px;
  text-align: center;
}
.mas .saber_mas {
  border-radius: 6px solid black;
  padding: 2rem;
}

.aside {
  height: 20%;
  padding: 1rem;
  background-color: #0066cc;
}
.aside .box_box {
  margin: 15px 0;
  height: 200px;
  width: 200px;
  background-color: #080c14;
}
/* responsive gastronomia*/
@media screen and (max-width: 600px) {
  .section_gastronomia{
    display: flex;
    flex-direction: column;
  }
  .section_gastronomia .aside {
    display: flex;
    flex-direction: row;
  }
  .aside .box_box {
    margin: 5px;
  }
}
/* pag patagonia */

.main{
    max-height: 100%;
}
.main .main__img { 
    width: 100%;
    height: 100vh;
    background-image: url(../img/2pag/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.main__img .main__text{
    position: absolute;
    left: 15%;
    top: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 85vh;
    width: 18.75rem;
    letter-spacing: 3px;
    color: #fff;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    font-family: "Roboto",sans-serif;
}
.main__img span{
          -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.grid__box h1 {
  font-family: "Latos",sans-serif;
  text-align: center;
  padding: 1rem;
  color: #0066CC;
}
.grid__box .grid_redes {
  margin-right: 4rem;
  text-align: end;
  color: #fff;
}

.grid__box span img{
  width: 32px;
}


.section__provincias {
    background-color: #232323;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
}
.section_myimg {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.section_txt {
  background-color: #FFF;
  width: 40%;
  align-items: flex-start;
}
.section_myimg .tamaño{
  height: 300px;
  width: 300px;
  margin: 5px;
}

.section_myimg .img_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  -webkit-box-shadow: 14px -8px 34px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px -8px 34px -6px rgba(0,0,0,0.75);
  box-shadow: 14px -8px 34px -6px rgba(0,0,0,0.75);
  transition: all 300ms;
}

.section_myimg .img_img:hover{
  transform: scale(1.1);
  cursor: pointer;    
}

.section_txt h2{
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #ef027d;
    font-family: "Lato",sans-serif;
}
.section_txt p{
  font-family: "Roboto",sans-serif;
  text-align: justify;
  padding: 1.5rem;
}
 .section_txt{
  padding: 1rem;
  margin: auto 0;

 }
 .section_myicons {
  display: flex;
  justify-content: space-around;
 }
.section_myicons .icons_radius{
    font-family: "Roboto",sans-serif;
    background-color: #ef027d;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 7px;
    transition: 0.5s;
}
.icons_radius:hover{
      background-color: #0066cc;
      letter-spacing: 2px;
  }

  .section__info {
    max-width: 100%;
    margin: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;  
   
  }

  .box_info {
    margin: 1rem;
    background-color: #232323;
    width: 25rem;
    height: 31.25rem;
    border-radius: 7px;
  }
  .box_info:hover {
    border:3px solid #0066cc;
  }
  .box_info h2 {
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-family: "Lato",sans-serif;
   
  }
  .box_info .underline {
    color: #ef027d;
    margin: 1rem;
    font-family: "Lato",sans-serif;
  }
  .box_info .underline:hover{
    text-decoration: underline;
  }
  .box_img {
    width: 99%;
    height: 160px;
    margin: 10px auto;
    border-radius: 7px;
  }
  .img_lugar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .box_info p {
    font-family: "Roboto",sans-serif;
    height: 100px;
    padding: 0.1rem;
    color: #fff;
  }
  .box_icon--info {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin-top: 0.625rem;
  }
  .box_icon--info .masinfo{
      font-family: "Roboto",sans-serif;
      text-align: center;
      background-color: #ffd60a;
      width: 30%;
      height: 10%;
      border-radius: 7px;
      padding: 0.5rem;
  }

  .box_icon--info .masinfo:hover {
    transition: 0.2ms;
    background-color: #0066CC;
  }
  .box_icon--info .social p{
    height: 60%;
    color: #0066CC;
  }
  .box_icon--info span{
    margin: 0.3rem;
  }
  .box_icon--info .social .img_social {
    transition: all 300ms;
  }
  .box_icon--info .social .img_social:hover{
    transform: scale(1.1);
  }
  /* responsive patagonia */
  @media screen and (max-width: 900px) {
    .section__provincias {
      display: flex;
      flex-direction: column-reverse;
    }
    .section__provincias .section_txt {
      width: 100%;
    }
    .section_myimg{
      margin: 0 auto;
    }
  }

  /* pag nor-argentino */
.main .img_norte{
  width: 100%;
  height: 100vh;
  background: url(/img/noroeste_argentina/norte-imagen.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */
.main__footer {
    background-color: #232323;
    width: 100%;
   
}

.container_flex {
    display: flex;
    justify-content: space-around;
  }
.input {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-align: center;
    margin: 20px;
    align-items: center;
}
.input_info {
    color: #ef027d;
    letter-spacing: 1px;
    padding: 1rem;
    font-family: "Lato",sans-serif;
}
.input_info:hover {
    color: #0066CC;
}

input{
    color: #fff;
    width: 9.375rem;
    background-color: #232323;
    outline: none;
    border: #fff;
    border-bottom: 1px solid #ef027d;
    padding: .5rem;
}
input:focus {
    border-bottom:2px solid #0066CC;
  
}

label {
    font-family: "Roboto",sans-serif;
    color: #fff;
    margin: 0.75rem;
}
textarea {
    resize: none;
    height: 70px;
    background-color: #232323;
    outline: none;
}

.input .btn{
margin-top: 1rem;
font-family: "Roboto", sans-serif;
font-weight: 0;
font-size:  0.875rem;
color: #fff;
background-color: #0066CC;
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #ee1eb5;
border: solid 2px #ef027d;
}

.input_list {
    text-align: center;
    padding: 1rem;
    margin-left: 2rem;
}
.input_list li{
    margin: 1px;
    font-family: "Roboto",sans-serif;
}
.input_list li a{
    color: #fff;
  
}
.input_list li a:hover{
    color: #0066CC;
}

.input_list .list_icon {
    display: flex;
    justify-content: center;
}



/* pag_paisajes */
.section__buscador--img p{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.section__buscador--img {
    background:url(/img/pag_paisajes/brujula_search.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}
.section__buscador--img .input_search {
    width: 70%;
    height: 3rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1rem 0;
    outline: none;
    border: none;
}

.input_search::placeholder{
  color: #03afff;
}

.section__buscador--img p span {
    font-family: "Roboto",sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    -webkit-animation: flicker-in-1 2s linear both;
	 animation: flicker-in-1 2s linear both;
    
}
@-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
 
.section__title h2{
    font-size: 2rem;
    text-align: center;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    padding: 2rem;
    color: #FFF;
}

  
 
.gallery__grid {
    font-size: 2rem;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 1rem;
    padding: 2rem;
    grid-auto-flow: dense;
    z-index: 33;
    
}
.gallery__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    
}



.gallery__item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}
.item_1 {
    background: url(../img/pag_paisajes/adriana-lorena-benavides-estrada-afyJnOzcCm4-unsplash.jpg);
    grid-row: span 2;
    background-position: center;
    background-size: cover;
}
.item_2 {
    background: url(../img/pag_paisajes/diogo-hungria-yjRNoycsKj4-unsplash.jpg);
    background-position: center;
    background-size: cover;
}
.item_3 {
    background: url(../img/pag_paisajes/D-faro-les-eclaireurs.jpg);
    grid-column: span 2;
    background-position: center;
    background-size: cover;
}
.item_4{
    background: url(/img/pag_paisajes/obelisco_.png);
    background-position: center;
    background-size: cover;
    grid-row: span 2;
}
.item_5{
    background: url(../img/pag_paisajes/snowscat-H3oXiq7_bII-unsplash.jpg);
    grid-column: span 2;
    background-position: center;
    background-size: cover;
 } 
.item_6{
    background: url(../img/pag_paisajes/Puma-Tierra-Patagonia-1-1.jpg);
    background-position: center;
    background-size: cover;
}
.item_7 {
    background: url(../img/pag_paisajes/glaciar-gc70fe784e_1280.jpg);
    grid-column: span 2;
    background-position: center;
    background-size: cover;
}
.item_8{
    background: url(../img/pag_paisajes/foz-do-iguacu-gc16eec70b_640.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 2;
}
.item_9{
    background: url(../img/pag_paisajes/lighthouse-g7f889a550_1280.jpg);
    background-position: center;
    background-size: cover;
}
.flecha_flex ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.flecha_flex a {
  color: #232323;
  font-weight: 700;
  font-size: x-large;
  display: block;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ef027d;
 
}
.flecha_flex .icon__arrow {
  width: 1.875rem;
}

/*  */

@media screen and (max-width: 524px){
  .header__container .checkbox_menu {
    position: absolute;
    right: -2%;
    top: 40%;
  }
  .section__provincias {
    display: flex;
    flex-direction: column-reverse;
  }
}


 @media screen and (max-width: 420px) {
 
  
   .texto {
    width: 200px;
   }
 .section__box {
  width: 50px;
 }
  

    .section__flex{
        display: flex;
        flex-direction: column;
      
    }
    .section__box {
      margin-top: 0;
    }
    .section__box h3 {
      padding: 0;
    }
        .img__section .img{
           max-width: 100%;
           max-height: 90vh;
        }
        
      
        .container {
            flex-wrap: wrap;
        } */
        /* pag paisajes */
        .section__buscador--img p span{
          font-size: 1.5rem;
        }
        .container_flex {
          display: flex;
          justify-content: space-between;
        }
        .icon__1 a img {
          width: 2.75rem;
        }
        .input_list {
          font-size: 0.875rem;
        }
        .input_list li a {
          font-size: 0.813rem;
        }
        /*  */
        .section__text {
          max-width: 100%;
          max-height: 100%;
        }
    }

@media screen and (max-width:721px) {
          
              .section_myimg {
                display: flex;
                flex-direction: column;
              }
           
            .bars_icon img{
                display: block;                
            }
            .header__items {
              display: none;
            }

      
           
           .img_1,.img_2,.img_3,.img_4 {
                margin: 1.25rem;
           }
          
           .section__img .img_title {
            padding-top: 0;
           }
         
        
      
        

           .section__box h3 {
            font-size: 1.25em;
            padding-bottom: 0.625rem;
           }
           .section__box p {
            padding-top: 0.625rem;
           }

           
           .main__footer {
            max-width: 100%;
           }
           /* galeria paisajes */
           .gallery__grid .item_3{
            grid-row:span 2;
           }
          }

  @media screen and (max-width: 600px){
             
            .header__container .checkbox_menu {
              position: absolute;
              right: 1%;
              top: 40%;
            }
            .section_myicons {
              display: flex;
              flex-direction: column;
            
            }
            .icons_radius {
              margin : 0.5rem;
            }
          }