@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    height: 100%;
    width: 100%;
    background-color: #f1faee;
}
/*  */


.menu_checkbox {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    display: none;
}
.header__container{
    background-color: #85ade4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
}

.header__logo {
    font-size: large;
    padding: 1rem;
    margin-left: 0.313rem;
    font-family: "Monserrat",sans-serif;
    color: #fff;
    letter-spacing: 2px;
}

.header__logo a{
    text-decoration: none;
    color: #fff;
}
.header__items {
   display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__items li {
    padding: 0.625rem;
    margin: 0.25rem;
}

.header__items li a{
    display: block;
    color: #FF0072;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 0 1rem;
    position: relative;
}
.header__items li a::after{
    content: "";
    position: absolute;
    background-color: #FF0072;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.header__items li a:hover{
    color: #fff;
}
.header__items li a:hover:after{
    width: 100%;
}

.img__section{
    width: 100%;
    height: 60vh;
    padding-bottom: 1rem;
    background-color: #f8f9fa;
    position: relative;
   
}

.img__section span h1{
    height: 9.375rem;
    width: 43.75rem;
    background-color: #ffd60a;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
    font-size: x-large;
    letter-spacing: 3px;
    font-weight: bold;
    color:#232323;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-top: 2rem;
    margin: 1rem;
    font-family: "Roboto",sans-serif;
    position: absolute;
    bottom: -90px;
    left: 300px;
}

.img__section .img{
    width: 100%;
    height: 60vh;
    background-image: url(./img/1pag/fernando-tavora-jN8wERXCnkE-unsplash.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.img_1 {
    background-image: url(./img/1pag/top-view-of-stewed-beef-meat-with-potatoes-green-pappers-and-herbs-in-clay-bowl-on-wooden-table.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    border-radius: 7px;
    background-size: cover;
  
}



.img_2 {
    background-image: url(./img/1pag/glacier-gdacef7571_1280.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 7px;
}
   

.img_3 {
    background-image: url(./img/1pag/preillumination-seth-cNlQpTstCK8-unsplash.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
}


.section__img{
    margin-top: 8rem;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
   
    grid-row-gap: 0px;
    grid-template-areas:  
        "img_1 img_2 img_3" 
        "img_1 img_2 img_3"
        ;
}
.img_1 {
    grid-area: img_1;
}
.img_2{
    grid-area: img_2;
  
}
.img_3 {
    grid-area:img_3;
}

.section__img .img_title {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 40%;
    font-family: "Roboto",sans-serif;
    color: #fffcf2;
    letter-spacing: 0.625rem;
    font-size: x-large;
    border-radius: 7px;
}

.section__text {
    height: 100%;
    width: 100%;
}
.section__text h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 1rem;
}

.imagenes{
    padding: 3rem;
}
.grid_img .img_item{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.imagenes .grid__img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(5, 150px);
}

.grid__img  .contenedor_img {
    height: 21.875rem;
    width: 18.75rem;
}
.grid__img .contenedor_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: contain;
    
}
.grid__img .azul {
    grid-area: 1 / 1 / 3 / 3;
}

.grid__img .negro{
    grid-area: 1 / 3 / 3 / 5;
   
}


.grid__img .rojo {
    grid-area: 3 / 1 / 5 / 3;
}



.grid__img .amarillo{
    grid-area: 3 / 3 / 5 / 5;
}

.grid__img .grid_texto1 {
    grid-area: 1 / 5 / 2 / 7;
}
.grid__img .grid_texto2{
    grid-area: 2 / 5 / 3 / 7;;
}

.grid__img .grid_texto3{
    grid-area: 3 / 5 / 4 / 7; 
}

.grid__img .grid_texto4{
    grid-area: 4 / 5 / 5 / 7; 
}
.space{
    font-family: "Roboto",sans-serif;
    margin-left: 1rem;
}
/* .main__flecha{ 
    background-color: red;
    border-radius: 0 7px 7px 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    cursor: pointer;
}
.main__flecha img{
    width: 100%;
    height: 100%;
}*/
.col {
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin: 1rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 50);
   
}
.col figure img {
    cursor: pointer;

}
.col figure img:hover {
    cursor: none;
}

.main .main__img { 
    width: 100%;
    height: 100vh;
    background-image: url(./img/2pag/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
    background-position: center;
    background-size: cover;
   
}
.main__img .main__text{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 18.75rem;
    letter-spacing: 3px;
    color: #fff;
    padding: 2rem 1rem;
}

.main__footer {
    background-color: #85ade4;
    width: 100%;
    height: 15rem;
}

.main__footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__footer  .fa-brands {
        font-size: 1.875rem;
        color: #000;
}

.main__footer .tel {
    text-align: center;
    color: #fff;
    padding: 0;
    margin-top: 3rem;
}


.title__footer {
    text-align: center;
    padding: 1rem;
    color: #fff
}
/* use los breakpoint que se recomienda,,
por que si me fijaba donde se empezaba a cortar..mw iba a volver loco */
/* breakpoint tablet */
@media screen and (max-width: 375px) {
        .img__section .img{
           max-width: 100%;
           max-height: 100%;
        }
        .container {
            flex-wrap: wrap;
        }
        .main__img{
            max-width: 100%;
            max-height: 500px;
            background-position: center;
            background-size: cover;
        }

        .main__text {
            max-width: 100%;
            max-height: 100%;
            color: transparent;
        }

}
@media screen and (max-width:721px) {
            .menu_checkbox {
                display: block;
              
            }
        
           .header__items {
            display: none;
            max-width: 100%;
           }
           .section__img {
            display: flex;
            flex-wrap: wrap;
            margin: 2px;
      
           }
           .section__text {
            margin-top: 60rem;
           }
           .main__footer {
            max-width: 100%;
           }
}