@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #f1faee;
}
/*  */

.header__container{
    background-color: #1d3557;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
}

.header__logo {
    font-size: large;
    padding: 1rem;
    margin-left: 0.313rem;
    font-family: "Monserrat",sans-serif;
    color: #fff;
    letter-spacing: 2px;
}

.header__logo a{
    text-decoration: none;
    color: #fff;
}
.header__items {
   display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__items li {
    padding: 0.625rem;
    margin: 0.25rem;
    background-color: #e63946;
    border-radius: 0.4375rem;
}

    .header__items li a{
    line-height: 1;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.img__section{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    background-color: #f8f9fa;
   
}
.img__section .img{
   
    width: 100%;
    height: 100%;
    background-image: url(./img/fernando-tavora-jN8wERXCnkE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img_1 {
    background-image: url(./img/gabor-sz-5rbQW61lOSU-unsplash.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
  
}



.img_2 {
    background-image: url(/img/glacier-gdacef7571_1280.jpg);
    height: 60vh;
    width: 100%;
    background-position: center;
    border: 1px solid black;
}
   

.img_3 {
    background-image: url(./img/Río\ Agrio\ \(Caviahue\,\ Neuquén\,\ Patagonia\ Argentina\)_.jpeg);
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    border: 5px solid red;
  
}


.section__img{
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    width: 100%;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
   
    grid-row-gap: 0px;
    grid-template-areas:  
        "img_1 img_2 img_3" 
        "img_1 img_2 img_3"
        ;
}
.img_1 {
    grid-area: img_1;
}
.img_2{
    grid-area: img_2;
  
}
.img_3 {
    grid-area:img_3;
}
.section__img span {
    font-size: x-large;
    letter-spacing: 3px;
    color:#232323;
    font-weight: bold;
    margin: 1rem;
    font-family: "Roboto",sans-serif;
}

/* .main__flecha{ 
    background-color: red;
    border-radius: 0 7px 7px 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40%;
    cursor: pointer;
}
.main__flecha img{
    width: 100%;
    height: 100%;
}*/
.col {
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin: 1rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 50);
   
}
.col figure img {
    cursor: pointer;

}
.col figure img:hover {
    cursor: none;
}

.main .main__img { 
    width: 100%;
    height: 100vh;
    background-image: url(./img/toomas-tartes-Yizrl9N_eDA-unsplash.jpg);
    background-position: center;
    background-size: cover;
   
}
.main__img .main__text{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 300px;
    letter-spacing: 3px;
    color: #fff;
    padding: 2rem 1rem;
}

.main__footer {
    background-color: #1d3557;
    width: 100%;
    height: 15rem;
}

.main__footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__footer  .fa-brands {
        font-size: 1.875rem;
        color: #000;
}

.main__footer .tel {
    text-align: center;
    color: #fff;
    padding: 0;
    margin-top: 3rem;
}


.title__footer {
    text-align: center;
    padding: 1rem;
    color: #fff
}

